app = "whatsapp-bot-wa"
primary_region = "sin"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = "wa_auth"
  destination = "/app/auth_info_baileys"
